<center><h1> About Cute Therapy </h1></center>

<center><%= image_tag "pugwatchingtv.png"%></center>
<p> Whether you're an internet lurker or just plain worn-out from a long day, cute videos are the answer to all your problems! Cute Therapy allows you to browse in a relaxed environment. Simply click around to find videos that suit your tastes. If you really love a video, you can save it for later viewing and to share with your friends! Our goal is for you to be able to kick back, relax, and enjoy something cute at the end of your day.</p>


<center><h1> About Kelly </h1></center>

<center><%= image_tag "coolkids1.jpg"%></center>

<p> Kelly (right) is a beginner rails-app developer. With experience in the social media/editorial field, finding cute shareable gems on the internet has never been more important. Cute Therapy was an idea born from this need to find click-worthy material on the vast and very cluttered internet.</p>