<h3> Terrible day at work?</h3>
<p> The go-to app to ogle at cute things, Cute Therapy allows you to have a whole world cuteness in the palm of your hand. Browse, enjoy, and save cute videos for your viewing pleasure. Found a great video and want to share? Cute Therapy lets you do that too! Sign up now to join the fun.</p>

<p><center><%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %></center></p>