<h3>A bad case of the monday blues? Had a terrible day at work?</h3>
<p> Cute Therapy is here to save the day! The go-to app to ogle at cute things, Cute Therapy lets you watch and add cute videos for your viewing pleasure. Log in to start now!</p>


